html {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: calc(25px * 50);
  margin: 0 auto;
}

.board {
  width: calc(25px * 50);
}

.row {
  overflow: auto;
  height: 25px;
}

.cell {
  float: left;
  width: 25px;
  height: 25px;
}

.wall {
  background-color: gray;
  background-image: url(./wall.png)
}

.floor {
  background-color: black;
  background-image: url(./floor.png)
}

.sprite:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
	  background-image: url(https://s19.postimg.org/srvniri6r/rat.png);
}

.boss:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-color: pink;
}

.health:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-image: url(https://s19.postimg.org/46urur8b7/chunk.png);
}

.player:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-color: red;
}

.sword:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-image: url(http://crawl.dalahest.se/sprites/sword.png);
}

.axe:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-color: purple;
}